body {
    background-color: #202020 ;
  }
  
  /* -----------------seccion de nav ----------------------- */
  .navbar {
    background-color: #2c2c2c;
    font-weight: bold;
  }
  
  
  /* ------------------seccion de inicio --------------------- */

  .seccion-inicio{
    padding: 20px;
  }


  /* ------------------seccion de about us------------ */

  .seccion-about-us{
    padding: 40px 0 40px 0;
    background-color: #2e1e19;
    color: rgb(211, 211, 211);
  }



  /* ------------------seccion de sabores y express-------------------- */

  .seccion-productos{
    padding: 20px;
    background-image:url('./imagenes/Sabor_background.jpg');
    justify-content: center;
  }

  .seccion-productos img{
    border-radius: 40px;
    height: 40%;
    width: 40%;
    margin: auto;

  }

  /* -----------------seccion de procesos------------------ */


  .seccion-procesos{
    padding: 20px;
  }

  .seccion-procesos .proceso-texto{
    color: white;
  }

  /* -----------------seccion de  formulario de cliente ---------------- */
form{
  padding: 50px;
}

.formulario{
    /* Fondo lizo */
body {
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}

/* Sección del formulario */
.seccion-formulario {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para contraste */
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Estilos del título */
h1 {
  color: rgb(55, 0, 255); /* Un color marrón oscuro para resaltar */
  font-size: 2.5rem;
  margin-bottom: 30px;
}

/* Estilos de los campos de formulario */
form label {
  font-weight: bold;
  color: #ffcf4b;
}

form input, form select, form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background-color: #fff;
  color: #3e2723;
}

form input:focus, form select:focus {
  outline: none;
  border-color: #795548; /* Un color más oscuro para los bordes al hacer foco */
}

form .btn-primary {
  background-color: #795548; /* Un marrón cálido */
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
}

form .btn-primary:hover {
  background-color: #6d4c41; /* Un tono más oscuro de marrón */
}

/* Estilo para los campos select */
.form-select {
  background-color: #fff;
  color: #3e2723;
  border-radius: 5px;
}

/* Asegurarse de que los botones y campos sean responsivos */
@media (max-width: 768px) {
  .formulario {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }
}
}

.formulario h1{
  color: white;
}





  /* ----------------seccion de pie de pagina ---------------- */

.container-fluid{
  position: relative;
  text-align: center;
  color: white;
  align-items: end;
}

.columnas-footer{
  display: flex;
  align-items: end;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.2s ease-in;
  width: 100%;
  padding: 0 50px 0 50px;
}

.columnas-footer h1{
font-size: 45px;
}

.columnas-footer p{
  font-size: 45px;

}

.columnas-footer .footer-social {
  text-align: center;
}

.columna1{
  justify-content: center;
}

.footer-social i{
  font-size: 75px;
  margin: 50px;
}

.columnas-footer .footer-social a {
  margin: 0 10px;
  color: #ffcf4b;
  font-size: 19px;
}

.columnas-footer .footer-social a:hover {
  color: white;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  gap: 20px; /* Espacio entre los elementos */
}

.footer-links i{
  font-size: 95px;
  
}

.footer-links span{
  font-size: 45px;
}

.link-item {
  display: flex;
  flex-direction: column; /* Ícono arriba del texto */
  align-items: center; /* Centrar contenido en ambas direcciones */
  text-decoration: none; /* Quitar el subrayado de los enlaces */
  color: inherit; /* Heredar el color del texto */
}

.footer-links a {
  display: flex;
  align-items: center;
  color: #dbab11;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  justify-content: center;
}

.footer-links a:hover {
  text-decoration: underline;
}
  
.footer-divider {
  margin: 20px 0;
  border: 0;
  border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
  width: 80%; /* Reduce el ancho para centrarla */
  margin-left: auto;
  margin-right: auto; /* Centra la línea */
  opacity: 0.8; /* Un poco de transparencia */
}

.footer-divider p {
  font-size: 20px;
}

.seccion-divider p {
  margin-top: 10px;
  font-size: 38px;
  color: #ffffff;
}


  @media (max-width: 1798px){

    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 40px;
      }
      
      .columnas-footer p{
        font-size: 40px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 50px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 95px;
        
      }
      
      .footer-links span{
        font-size: 35px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 35px;
        color: #ffffff;
      }
  
   
  
  }


  @media (max-width: 1125px){

    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 35px;
      }
      
      .columnas-footer p{
        font-size: 35px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 50px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 80px;
        
      }
      
      .footer-links span{
        font-size: 30px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 30px;
        color: #ffffff;
      }
  
   
  
  }


  @media (max-width: 1003px){

    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 30px;
      }
      
      .columnas-footer p{
        font-size: 30px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 40px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 70px;
        
      }
      
      .footer-links span{
        font-size: 30px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 25px;
        color: #ffffff;
      }
  
   
  
  }



  @media (max-width: 881px){

    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 25px;
      }
      
      .columnas-footer p{
        font-size: 25px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 35px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 60px;
        
      }
      
      .footer-links span{
        font-size: 30px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 20px;
        color: #ffffff;
      }
  }


  @media (max-width: 777px){

    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 20px;
      }
      
      .columnas-footer p{
        font-size: 20px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 30px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 55px;
        
      }
      
      .footer-links span{
        font-size: 20px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 15px;
        color: #ffffff;
      }
  }





  
  
  
  
  @media (max-width: 767px){
    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 25px;
      }
      
      .columnas-footer p{
        font-size: 25px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 25px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 70px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 30px;
        
      }
      
      .footer-links span{
        font-size: 10px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 10px;
        color: #ffffff;
      }
   
  
  }




  @media (max-width: 619px){
    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 50px 0 50px;
    }
  
    .columnas-footer h1{
      font-size: 20px;
      }
      
      .columnas-footer p{
        font-size: 15px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 25px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 70px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 30px;
        
      }
      
      .footer-links span{
        font-size: 10px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 10px;
        color: #ffffff;
      }
   
  
  }



  @media (max-width: 494px){
    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 10px 0 10px;
    }
  
    .columnas-footer h1{
      font-size: 15px;
      }
      
      .columnas-footer p{
        font-size: 10px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 15px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 70px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 15px;
        
      }
      
      .footer-links span{
        font-size: 10px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        margin: 10px 0;
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        margin: 20px 0;
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        margin-top: 10px;
        font-size: 10px;
        color: #ffffff;
      }
   
  
  }








  
  @media (max-width: 572px){
  
   
  
  }



  @media (max-width: 390px){
    .columnas-footer{
      display: flex;
      align-items: end;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.2s ease-in;
      width: 100%;
      padding: 0 10px 0 10px;
    }
  
    .columnas-footer h1{
      font-size: 10px;
      }
      
      .columnas-footer p{
        font-size: 5px;
      
      }
      
      .columnas-footer .footer-social {
        text-align: center;
      }
      
      .columna1{
        justify-content: center;
      }
      
      .footer-social i{
        font-size: 10px;
        margin: 50px;
      }
      
      .columnas-footer .footer-social a {
        margin: 0 10px;
        color: #ffcf4b;
        font-size: 20px;
      }
      
      .columnas-footer .footer-social a:hover {
        color: white;
      }
      
      .footer-links {
        display: flex;
        justify-content: center;
        gap: 70px; /* Espacio entre los elementos */
      }
      
      .footer-links i{
        font-size: 10px;
        
      }
      
      .footer-links span{
        font-size: 10px;
      }
      
      .link-item {
        display: flex;
        flex-direction: column; /* Ícono arriba del texto */
        align-items: center; /* Centrar contenido en ambas direcciones */
        text-decoration: none; 
        color: inherit; /* Heredar el color del texto */
      }
      
      .footer-links a {
        display: flex;
        align-items: center;
        color: #ffd23d;
        text-decoration: none;
        font-size: 18px;
        
        justify-content: center;
      }
      
      .footer-links a:hover {
        text-decoration: underline;
      }
        
      .footer-divider {
        
        border: 0;
        border-top: 2px solid #ffcf4b; /* Cambiado a un color destacado */
        width: 80%; /* Reduce el ancho para centrarla */
        margin-left: auto;
        margin-right: auto; /* Centra la línea */
        opacity: 0.8; /* Un poco de transparencia */
      }
      
      .footer-divider p {
        font-size: 20px;
      }
      
      .seccion-divider p {
        
        font-size: 10px;
        color: #ffffff;
      }
   
  
  }
